<!doctype html>
<html>
    <head>
        <title>Admin | {% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bower_components/foundation/css/normalize.css" rel="stylesheet" />
		<link href="/static/bower_components/foundation/css/foundation.css" rel="stylesheet" />
        <link href="/static/css/base.css" rel="stylesheet" />
    </head>
    <body>
    <header>
      <div class="row">
          <h2><a href="/admin/">UAlbum admin</a></h2>
          <div class="naw">
		  <nav>
            <li class="nav-item"><a href="{{ url_for('admin.news') }}">Новини</a></li>
            <li><a href="{{ url_for('admin.categories') }}">Категорії</a></li>
	      </nav>
	    </div>
      </div>
    </header>
    <div class="row">
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
    </div>
    </body>
</html>
