<div class="container">
  <div class="row">
    <div class="large-12">
        <h3>Часті запитання</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-10 columns">
        left
    </div>
    <div class="large-2 columns">
        right
    </div>
  </div>
</div>
