*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header {
	background: #222;
	height: 50px;
	margin-bottom: 10px;
}

header h2 {
	line-height: 45px;
	color: #fff;
	float: left;
}

header nav {
	float: right;
}

.centered {
    text-align: center;
}

.bg0 {
    background: #f6f6f6;
    height: 300px;
}

.mt-10 {
    margin-top: 10px;
}

.mb20 {
    margin-bottom: 20px;
} 

.br10 {
    border-radius: 10px;
}

header nav li {
	display: inline;
	color: #fff;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

footer {
	position: absolute;
	bottom: 0px;
}
