{% extends "layouts/admin.html" %}


{% block title %}Categories{% endblock title %}

{% block content %}
<h1>Categories</h1>
<div>
    <a class="button success" href="{{ url_for('admin.new_category') }}">Add new category</a>
</div>
<table class="columns large-12">
  <thead>
    <tr>
      <td>Title</td>
      <td>Order</td>
      <td>Created</td>
      <td>Updated</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {% for item in query %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.order }}</td>
        <td>{{ item.created }}</td>
        <td>{{ item.updated }}</td>
        <td></td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">
        No categories found
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

