<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h3>Новини</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-10 columns">
      <div ng-hide="news">Немає новин</div>
      <div ng-repeat="item in news">{{ item.title }}</div>
    </div>
    <div class="large-2 columns">
      <div ng-hide="categories">Немає категорій</div>
      <div ng-repeat="category in categories">{{ category.title }}</div>
    </div>
  </div>
</div>
