<!doctype html>
<html class="no-js" lang="en" ng-app="Ualbum">
	<head>
		<title>UAlbum</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bower_components/foundation/css/normalize.css" rel="stylesheet" />
		<link href="/static/bower_components/foundation/css/foundation.css" rel="stylesheet" />
		<link href="/static/css/base.css" rel="stylesheet" />
	</head>
	<body>
	  <header>
			<div class="row">
                <h2><a href="{{ url_for('core.index') }}">UAlbum</a></h2>
				<div class="naw">
					<nav>
						<li class="nav-item"><a href="#/news/">Новини</a></li>
						<li><a href="#/musicians/">Виконавці</a></li>
						<li><a href="#/albums/">Альбоми</a></li>
						<li><a href="#/contacts/">Контакти</a></li>
					</nav>
				</div>
			</div>
		</header>
		<div id="content">
			<div ng-view></div>
		</div>
		<footer class="row">
			<div class="row">&copy @ilavriv</div>
		</footer>
		<script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="/static/bower_components/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/static/bower_components/angular-resource/angular-resource.js"></script>

		<script type="text/javascript" src="/static/js/constants.js"></script>
		<script type="text/javascript" src="/static/js/resources.js"></script>
		<script type="text/javascript" src="/static/js/utils.js"></script>
		<script type="text/javascript" src="/static/js/controllers.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</body>
</html>
